extends ../layouts/application.pug

block content
  table.table.table-striped
    thead
      tr
        th=t('views.users.id')
        th=t('views.users.fullName')
        th=t('views.users.email')
        th=t('views.users.createdAt')
        th
    tbody
      each user in users
        tr
          td=user.id
          td=user.fullName
          td=user.email
          td=formatDate(user.createdAt)
          td
            a(href=route('users#edit', { id: user.id }))=t('views.users.update.submit')
            +buttonTo(route('users#destroy', { id: user.id }), 'delete')(class='btn btn-link', value=t('views.users.delete.submit'))