extends ../layouts/application.pug

block content
  a(class='nav-link' href=route('labels#new'))= t('views.labels.new.create')
  table.table.table-striped
    thead
      tr
        th=t('views.labels.id')
        th=t('views.labels.name')
        th=t('views.labels.createdAt')
        th
    tbody
      each label in labels
        tr
          td=label.id
          td=label.name
          td=formatDate(label.createdAt)
          td
            a(href=route('labels#edit', { id: label.id }))=t('views.labels.update.submit')
            +buttonTo(route('labels#destroy', { id: label.id }), 'delete')(class='btn btn-link', value=t('views.labels.delete.submit'))
