extends ../layouts/application.pug

block content
  a(class='nav-link' href=route('tasks#new'))= t('views.tasks.new.create')
  .jumbotron.p-2
    +formFor()(action=route('tasks#index') method='get').form-inline
      +selectFilter(filters, 'statusId', t('views.tasks.status')).ml-2.mr-3
      +selectFilter(filters, 'executorId', t('views.tasks.executor')).ml-2.mr-3
      +selectFilter(filters, 'labelId', t('views.tasks.label')).ml-2.mr-3
      +checkbox(filters, 'isCreatorUser', t('views.tasks.myTasks'))
      +submit()(value=t('views.tasks.filter.submit')).ml-3
  table.table.table-striped
    thead
      tr
        th=t('views.tasks.id')
        th=t('views.tasks.name')
        th=t('views.tasks.status')
        th=t('views.tasks.creator')
        th=t('views.tasks.executor')
        th=t('views.tasks.createdAt')
        th
    tbody
      each task in tasks
        tr
          td=task.id
          td
            a(href=route('tasks#show', { id: task.id }))=task.name
          td=task.statuses.name
          td=task.creators.fullName
          td=task.executors.fullName
          td=formatDate(task.createdAt)
          td
            a(href=route('tasks#edit', { id: task.id }))=t('views.tasks.update.submit')
            +buttonTo(route('tasks#destroy', { id: task.id }), 'delete')(class='btn btn-link', value=t('views.tasks.delete.submit'))