extends ../layouts/application.pug

block content
  .jumbotron.p-4
    - const {id, name, description, creators, executors, statuses, createdAt}=task
    h2 #{name}
    p #{description}
    hr
    .container
      .row.p-1
        .col #{t('views.tasks.creator')}
        .col  #{creators.fullName}
      .row.p-1
        .col #{t('views.tasks.executor')}
        .col #{executors.fullName}
      .row.p-1
        .col #{t('views.tasks.status')}
        .col #{statuses.name}
      .row.p-1
        .col #{t('views.tasks.createdAt')}
        .col #{formatDate(createdAt)}
      .row.p-1
        .col
          h6 #{t('views.tasks.labels')}:
          ul
            for label in task.labels
              li #{label.name}
      .row.p-1
        .col
          a(href=route('tasks#edit', { id }))=t('views.tasks.update.submit')
          +buttonTo(route('tasks#destroy', { id }), 'delete')(class='btn btn-link', value=t('views.tasks.delete.submit'))